@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
  font-family: "Mulish", Arial, sans-serif;
  font-weight: 400;
}

/* GRID START */

.grid-container {
  display: grid;
  grid-template-columns: 0.28fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Navbar Main";
}

.Navbar {
  grid-area: Navbar;
  background-color: #f6f6f6;
  height: 100vh;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}

.Main {
  grid-area: Main;
  background-color: white;
  height: 100vh;
}

.Footer {
  background-color: rgb(36, 36, 36);
  height: 20vh;
  color: white;
}
/* GRID END */

/* ETC START */

.error {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5em;
  margin-top: 25vh;
}

.header {
  /* background-color: rgb(235, 198, 104); */
  height: 10vh;
  padding: 2.5vh;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.icons a{
  list-style: none;
  color: #888888;
  text-decoration: none;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 1.5em;
}

.icons li{
  list-style: none;
  color: #888888;
  text-decoration: none;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 1.5em;
}

.icons a:hover{
  color: rgb(80, 80, 80);
  transition: all 0.2s ease-in-out 0s;
}

.signature {
  font-family: "Herr Von Muellerhoff", Arial, sans-serif;;
  font-size: 2.5em;
  margin-top: 3vh;
  color: #525252;
}
/* ETC END */

/* NAVBAR START */
.navbar-container {
  text-align: center !important;
  margin-top: 5vh;
}

.navbar-footer {
  margin-top: 5vh;
}

.navbar-profile {
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.navbar-picture {
  background-image: url("./assets/ProfilePicture.JPG");
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 160px;
  width: 160px;
}

.navbar-profileName span{
  font-size: 2em;
  font-weight: 700;
  color: black;
}

.navbar-profileTitle span{
  color: black;
  font-weight: 400;
  font-style: italic;
}

.navbar-item {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  font-size: 1.25em;
  font-weight: 600;
  color: #5d5d5d;
}

.navlink-li {
  font-size: 18px;
  font-weight: bold;
  color: inherit;
}

.navlink-profile {
  text-decoration: none;
}

.navlink-active {
  /* border-bottom: 2px solid black !important; */
  --color: black;
  background-image: linear-gradient(var(--color) 0%, var(--color) 100%);
  background-repeat: repeat-x;
  background-position: 0 1.20em;
  background-size: 2px 2px;
}

a.navlink-li {
  position: relative;
  text-decoration: none;
}

a.navlink-li:hover {
  color: #000;
}

a.navlink-li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

a.navlink-li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* NAVBAR END */

/* HOME START */
.home-main {
  display: flex;
}

.home-picture {
  background-color: beige;
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 50vw;
}

.home-picture1 {
  background-image: url(./assets/ProfilePicture.JPG);
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 50vw;
}

.home-picture2 {
  width: 50vw;
  background-image: url(./assets/MainImage.png);
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.home-text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.home-title {
  color: #a7a7a7;
  font-size: 1.75em;
  font-weight: 400;
}

.home-header {
  margin-top: 1.5vh;
  font-size: 2.4em;
  font-weight: 800;
  letter-spacing: 1px;
}

.home-body {
  color: #a7a7a7;
  font-size: 1.25em;
  margin-top: 2.5vh;
}

/* HOME END */

/* TECH START */

.tech-list {
  margin-top: 12vh;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 78vh;
  display: flex;
  justify-content: space-between;
}

.tech-cat {
  font-size: 2em;
  border-bottom: 2px solid black;
  margin-bottom: 1vh;
  text-align: center;
}

.tech-item {
  font-size: 1.2em;
  line-height: 1.5;
}

.tech20 {
  margin-left: 40px;
}

.tech30 {
  margin-left: 30px;
}

.tech40 {
  margin-left: 20px;
}

/* TECH END */

/* RESUME START */

.resume-container {
  height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.resume-img {
  opacity: 1;
  box-shadow: 2px 5px 10px 0px #d2cdc5;
  max-height: 100%;
  max-width: 100%;
  transition: box-shadow 0.3s;
}

.resume-img:hover {
  opacity: 1;
  box-shadow: 4px 10px 20px 0px #d2cdc5;
  max-height: 100%;
  max-width: 100%;
}
/* RESUME END */

/* CONTACT START */

.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #a7a7a7;
  font-size: 1.25em;
  height: 35vh;
  text-decoration: none;
  margin-bottom: 55vh;
}

.contact-email {
  border-bottom: dotted 2px black !important;
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  margin-top: 2vh;
}

/* CONTACT END */

/* PORTFOLIO START */
.portfolio-active {
  border-bottom: .15em solid black !important;
}

.portfolio-title {
  display: flex;
  list-style: none;
  font-size: 1.5em;
  justify-content: space-between;
  margin-top: 3vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.portfolio-title li:hover {
  border-bottom: .15em solid black !important;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

.portfolio-body {
  margin-top: 2.5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2.5vh;
  height: 75vh;
  border: 2px solid black;
  opacity: 1;
  box-shadow: 2px 5px 10px 0px #d2cdc5;
}

.portfolio-cat {
  margin: 3vh 2vw 2vh 2vw;
}

.portfolio-main {
  margin-top: 1vh;
}

.portfolio-hero {
  height: 75vh;
}

.portfolio-video {
  display: flex;
  justify-content: center;
}

.portfolio-tech {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
  font-size: 1.5em;
}

.portfolio-tech span {
  border-bottom: 0.1em solid black;
}

.portfolio-tech ul {
  margin-top: 1vh;
  margin-left: 1vw;
  font-size: 0.75em;
  line-height: 1.5
}

.portfolio-arrow {
  margin-top: 2vh;
  /* margin-bottom: 4vh; */
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.portfolio-arrow div {
  cursor: pointer;
}
/* PORTFOLIO END */

.portfolio-header {
  margin-top: 5vh;
  font-size: 2em;
}
