@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,700;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
  font-family: "Mulish";
  font-weight: 400;
}

/* GRID START */

.grid-container {
  display: grid;
  grid-template-columns: 0.28fr 1fr;
  grid-template-rows: 1fr 0.25fr;
  /* gap: 1px 1px; */
  grid-template-areas: "Navbar Main" "Navbar Footer";
}

.Navbar {
  grid-area: Navbar;
  background-color: #f6f6f6;
  height: 100vh;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}

.Main {
  grid-area: Main;
  background-color: #f6f6f6;
  height: 80vh;
}

.Footer {
  grid-area: Footer;
  background-color: beige;
  height: 20vh;
}
/* GRID END */

/* NAVBAR START */
.navbar-container {
  text-align: center !important;
  margin-top: 5vh;
}

.navbar-footer {
  margin-top: 5vh;
}

.navbar-profile {
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.navbar-picture {
  background-image: url("./assets/ProfilePicture.JPG");
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 160px;
}

.navbar-profileName span{
  font-size: 2em;
  font-weight: 700;
  color: black;
}

.navbar-profileTitle span{
  color: black;
  font-weight: 400;
  font-style: italic;
}

.navbar-icons a{
  list-style: none;
  color: #888888;
  text-decoration: none;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 1.5em;
}

.navbar-icons a:hover{
  list-style: none;
  color: rgb(80, 80, 80);
  text-decoration: none;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 1.5em;
  transition: all 0.2s ease-in-out 0s;
}

.navbar-item {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  font-size: 1.25em;
  font-weight: 600;
  color: #5d5d5d;
}

.navlink-li {
  font-size: 18px;
  font-weight: bold;
  color: inherit;
}

.navlink-profile {
  text-decoration: none;
}

.navlink-active {
  border-bottom: 100px solid black !important;
}

a.navlink-li {
  position: relative;
  text-decoration: none;
}

a.navlink-li:hover {
  color: #000;
}

a.navlink-li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

a.navlink-li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* NAVBAR END */

.home-main {
  display: flex;
}

.home-picture {
  width: 50vw;
  background-image: url(./assets/StormTrooper.JPG);
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.home-text {
  width: 50vw
}
/*

.mainImage {
  background-image: linear-gradient(
      to bottom,
      #ffffff23 ,
      #000000 )
  , url(./assets/MainImage.JPG);
  background-position: top;
  background-size: cover;
  height: 125vh;
  background-attachment: fixed;
} */

/*
.mainImage {
  height: 100vh;
  background-image: url(./assets/MainImage.JPG);
  background-attachment: fixed;
  background-size: cover;
} */
